* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050505;
    color: #ffffff;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden; /* Impede a tela de rolar */
    width: 100vw;
    height: 100vh;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ui-panel {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 350px;
    background: rgba(15, 15, 20, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 24px;
    z-index: 10;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.8);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

h1 span {
    color: #00ffcc; /* Ciano Neon */
}

p {
    font-size: 0.85rem;
    color: #aaaaaa;
    margin-bottom: 20px;
}

button {
    width: 100%;
    background-color: #00ffcc;
    color: #000000;
    border: none;
    padding: 14px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transform: scale(0.95);
}

#status {
    margin-top: 16px;
    font-size: 0.8rem;
    color: #ffdd00; /* Amarelo para alertas */
    font-weight: bold;
}
